@using FY19.Models.Widgets;
@using SeventyeightDigital.CKEditor4_Wysiwyg;

@*@model ComponentViewModel<CKEditor4_WysiwygWidgetProperties>*@

@model ComponentViewModel<KMJ_TableProperties>

@if (Context.Kentico().PageBuilder().EditMode)
{
    Html.RenderPartial("InlineEditors/TableView_WysiwygInlineEditor", new CKEditor4_WysiwygViewModel
    {
        PropertyName = nameof(Model.Properties.Html),
        Html = Model.Properties.Html
    });
}
else
{
    if (Model.Properties.Html != "" && Model.Properties.Html != null)
    {
        <div class="scroll @if (Model.Properties.Id != null) { @Model.Properties.Class; } " id="@Model.Properties.Id">
            @Html.Kentico().ResolveUrls(Model.Properties.Html)
        </div>
    }
}