@using FY19.Models.Widgets;
@using SeventyeightDigital.CKEditor4_Wysiwyg;

@*@model ComponentViewModel<CKEditor4_WysiwygWidgetProperties>*@

@model ComponentViewModel<KMJ_TableProperties>

@{ 
    string strID = Model.Properties.Id;
    string htmlCode = HttpUtility.HtmlDecode(Model.Properties.Html);
}

@if (Context.Kentico().PageBuilder().EditMode)
{
    Html.RenderPartial("InlineEditors/TableView_WysiwygInlineEditor", new KMJ_TableViewModel
    {
        PropertyName = nameof(Model.Properties.Html),
        EditorModel = new CKEditor4_WysiwygViewModel(),
        Html = Model.Properties.Html,
        Id = Model.Properties.Id,
        Class = Model.Properties.Class
    });
}
else
{
    <div class="scroll @if (Model.Properties.Class != null) { @Model.Properties.Class; }" id="@Model.Properties.Id">
        @Html.Raw(htmlCode)
    </div>
}