@using Kentico.PageBuilder.Web.Mvc
@using FY19.Models.Sections

@model ComponentViewModel<IndexSectionProperties>

<section class="@Model.Properties.Class">
    @Html.Kentico().WidgetZone()
</section>