@model SeventyeightDigital.CKEditor4_Wysiwyg.CKEditor4_WysiwygViewModel

@using (Html.Kentico().BeginInlineEditor("ckeditor", Model.PropertyName,
    new
    {
        @class = "inline-editor ckeditor-" + Model.myID.ToString(),
        @id = "editor" + Model.myID.ToString(),
        @contenteditable = true,
        data_divid = Model.myID.ToString()
    }))
{
    if (Model != null && !String.IsNullOrEmpty(Model.Html))
    {
        @Html.Raw(Model.Html.Replace('~', ' '))
    }

    else
    {
        <div style="height: 500px;">
            <p>Edit Content Here</p>
        </div>
    }
}