<!DOCTYPE html>
<html>
<head>
    <meta name="view" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Document Sitemap</h1>
    <div>
        To View Sitemap Browse "domainname/document-sitemap.xml" or <a href="~/Content/document-sitemap.xml">Click Here</a>
    </div>
</body>
</html>